// corporal.less

.wrapper__corporal{
  background: @white;
}

.corporal{
  background: url(../img/contacts_bg.jpg) no-repeat;
  padding-top: 75px;
}

.corporal-breadcrumbs{
  padding-left: 105px;
}

.corporal__title{
  font-family: 'robotoblack', sans-serif;
  font-size: 48px;
  padding-left: 105px;
}

.corporal__text{
  padding-left: 105px;
  font-family: 'robotothin', sans-serif;
  font-size: 18px;
  line-height: 36px;
}

.corporal-text-item{
  width: 475px;
}

.corporal__labels{
  background: url(../../dist/img/corporal_bg1.jpg) no-repeat;
  height: 154px;
}

.corporal__pic{
  background: url(../../dist/img/corporal_bg2.jpg) no-repeat;
  height: 246px;
}