//- header.jade
div.wrapper__header
  header.header.cf
    div.header__logo
      a(href="./index.html")
        div.logo Сервисный Центр 
          span Фаворит
    div.header__nav
      nav.nav
        ul.nav-list
          a(href="./about.html")
            li.nav-item о компании
          a(href="./corporal.html")
            li.nav-item корпоративным клиентам
          a(href="./contacts.html")
            li.nav-item контакты

    div.header__tel
      div.tel
        div.tel__num
          div.num 8 (812) 
            span 143-33-45
        div.tel__call
          a.call(href="#") Перезвонить нам
    

