doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Сервисный Центр ФАВОРИТ
    //- todo
    link(rel="stylesheet", href="vendor/reset.css")
    //- link(rel="stylesheet", href="vendor/normalize.css")
    link(rel="stylesheet", href="css/style.css")
    script(src='vendor/jquery.js')
    script(src='vendor/transition.js')
    script(src='vendor/carousel.js')
  body
    div.wrapper
      include ./header.jade
      include ./order.jade
      include ./list.jade
      include ./greetings.jade
      include ./repair.jade
      include ./review.jade
      include ./social.jade
      include ./footer.jade

