//- list.jade

div.wrapper__list
  div.list
    div.list__item
      div.list-item-title Сервисное обслуживание
      ul.list-item
        each val in ['Все виды диагностики', 'Шиномонтаж', 'Развал-схождение', 'Заправка кондиционера', 'Химчистка салона', 'This kind Установка доп. оборудования WEBASTO', 'Замена тормозных колодок и дисков', 'Замена ремней ГРМ и роликов', 'Чистка топливной системы и форсунок']
          li.list-row= val
    div.list__item
      div.list-item-title Ремонт автомобилей
      ul.list-item
        each val in ['Кап. ремонт двигателей', 'Ремонт мкпп и акпп', 'Ремонт подвески', 'Ремонт агрегатов', 'Ремонт электрики', 'Ремонт тормозной системы', 'Ремонт выхлопной системы', 'Система охлаждения', 'Кузовной ремонт']
          li.list-row= val