<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  link(rel="stylesheet" href="dist/css/style.css")
body
  div.wrapper
    div.wrapper__modal-service
      div.modal-service
        div.modal-service__title Запись на сервис
        div.modal-service__form
          form.mod-serv-form
            div.mod-serv-form__column
              div.mod-serv-form-left
                div.change-auto-form__title Выбор авто
                div.change-auto-form__mark-change
                  select.mark-change
                    option.mark BMW
                    option.mark Audi
                div.change-auto-form__model-change
                  select.model-change
                    option.model 111
                    option.model 222
                div.change-auto-form__vin-input
                  input.vin-input(type="text" placeholer="VIN")
            div.mod-serv-form__column
              div.mod-serv-form-right
        div.modal-service__buttons
