//- order.jade

div.wrapper__order
  div.order
    div.order__carousel
      div.carousel.slide#carousel-example-generic(data-ride="carousel")
        ol.carousel-indicators.order-indicators
            li.active(data-target="#carousel-example-generic", data-slide-to="0")
            li(data-target="#carousel-example-generic", data-slide-to="1")
            li(data-target="#carousel-example-generic", data-slide-to="2")
            li(data-target="#carousel-example-generic", data-slide-to="3")
        div.carousel-inner(role="listbox")
          div.item.active.carousel-item.carousel-item--one
            div.carousel-item__upper-buttons
              div.upper-buttons.cf
                div.upper-buttons__btn-spares
                  button.button.button--pink.btn-spares Заказ запчастей
                div.upper-buttons__btn-sto
                  button.button.button--blue.btn-sto Записаться на СТО
            div.carousel-item__desctiption
              div.description
                div.description__sup Ремонт подвески
                div.description__sub Для надежности работы и обеспечения Вашей безопасности рекомендуется своевременно проводить диагностику и ремонт ходовой
            div.carousel-item__bottom-button
              div.bottom-button
                div.bottom-button__button-order
                  button.button.button--blue.button-order записаться
          div.item.carousel-item.carousel-item--two
            div.carousel-item__upper-buttons
              div.upper-buttons.cf
                div.upper-buttons__btn-sto
                  button.button.button--blue.btn-sto Записаться на СТО
                div.upper-buttons__btn-spares
                  button.button.button--pink.btn-spares Заказ запчастей
            div.carousel-item__desctiption
              div.description
                div.description__sup Ремонт подвески
                div.description__sub Для надежности работы и обеспечения Вашей безопасности рекомендуется своевременно проводить диагностику и ремонт ходовой
            div.carousel-item__bottom-button
              div.bottom-button
                div.bottom-button__button-order
                  button.button.button--blue.button-order записаться
          div.item.carousel-item.carousel-item--three
            div.carousel-item__upper-buttons
              div.upper-buttons.cf
                div.upper-buttons__btn-sto
                  button.button.button--blue.btn-sto Записаться на СТО
                div.upper-buttons__btn-spares
                  button.button.button--pink.btn-spares Заказ запчастей
            div.carousel-item__desctiption
              div.description
                div.description__sup Ремонт подвески
                div.description__sub Для надежности работы и обеспечения Вашей безопасности рекомендуется своевременно проводить диагностику и ремонт ходовой
            div.carousel-item__bottom-button
              div.bottom-button
                div.bottom-button__button-order
                  button.button.button--blue.button-order записаться
          div.item.carousel-item.carousel-item--four
            div.carousel-item__upper-buttons
              div.upper-buttons.cf
                div.upper-buttons__btn-sto
                  button.button.button--blue.btn-sto Записаться на СТО
                div.upper-buttons__btn-spares
                  button.button.button--pink.btn-spares Заказ запчастей
            div.carousel-item__desctiption
              div.description
                div.description__sup Ремонт подвески
                div.description__sub Для надежности работы и обеспечения Вашей безопасности рекомендуется своевременно проводить диагностику и ремонт ходовой
            div.carousel-item__bottom-button
              div.bottom-button
                div.bottom-button__button-order
                  button.button.button--blue.button-order записаться
