//- repair.jade

div.wrapper__repair
  div.repair
    div.repair__title  Ремонт китайских авто
    div.repair__description  
      div.repair-description-text Помимо отечественного автотранспорта мы предложим и услуги по ремонту иномарок китайского производства. Более подробно о том, какие виды услуг мы предлагаем, как осуществляется контроль качества и поставка оригинальных комплектующих, Вы можете прочитать на страницах, посвященных данным автомобилям.
    div.repair__button
      button.repair-button.button.button--blue.button--greetings  Записаться на СТО
    div.repair__labels
