//- review.jade

div.wrapper__review
  div.review
    div.review__title Отзывы наших клиентов
    div.review__review-list
      div.review-list
        div.review-list__item.cf
          div.review-list-item.review-list-item--one
            div.review-item
              div.review-item__person
                div.review-item-person.cf
                  div.review-item-person__photo
                  div.review-item-person__name
                    div.review-item-person-name
                      div.review-item-person-name__fio Роман Титов
                      div.review-item-person-name__age 28 лет
              div.review-item__person-review Менял лобовое стекло на Ситроене С5. Очень спешила с работы отдать вовремя машину на ремонт и не успела её помыть. Каково же было мое изумление когда на следующий день мне вернули машину не только вымытую,но и всю вычищенную внутри. Машина рабочая и грязи было достаточно. Большое спасибо за такое внимание!          
          div.review-list-item.review-list-item--two
            div.review-item
              div.review-item__person
                div.review-item-person.cf
                  div.review-item-person__photo
                  div.review-item-person__name
                    div.review-item-person-name
                      div.review-item-person-name__fio Елена Сергеевна
                      div.review-item-person-name__age 32 года
              div.review-item__person-review Менял лобовое стекло на Ситроене С5. Очень спешила с работы отдать вовремя машину на ремонт и не успела её помыть. Каково же было мое изумление когда на следующий день мне вернули машину не только вымытую,но и всю вычищенную внутри. Машина рабочая и грязи было достаточно. Большое спасибо за такое внимание!          

