//- social.jade

div.wrapper__social
  div.social
    div.social__title  мы в социальных сетях
    div.social__vidgets
      div.social-vidgets.cf
        div.social-vidgets__vk
          div.social-vidgets-vk
        div.social-vidgets__instagram
          div.social-vidgets-instagram
